/* COMMON STYLE AND UTILITY */
body {
  font-family: 'Roboto', sans-serif;
}

a, a:link {
  color: #006AFF;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

h2{
  font-size: 35px;
  font-weight: 600;
  color: #031C4E;
}

ul ,ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.bg-gray {
  background: #F3F5F9;
}

.color-white {
  color: #fff;
}

.bl-button {
  border: 1px solid #006AFF;
  background: #fff;
  border-radius: 5px;
  padding: 7px;
}

.bl-cirlce-img div{
  height: 10px;
  width: 10px;
  border: 1.5px solid #006AFF;
  border-radius: 50%;
  display: inline-block;
}

.bl-cirlce-img div:hover {
  background: #006AFF;
  cursor: pointer;
}

/* FINECOMMON STYLE AND UTILITY */

/* stili header -------------------------------------------------------------*/

nav {
  height: 75px;
}

.logo {
  line-height: 75px;
}

.logo img{
  height: 25px;
}

nav ul {
  line-height: 75px;
}

nav ul li {
  display: inline-block;
  color: #031C4E;
  font-size: 17px;
  font-weight: 500;
  padding: 0 6px;
}

nav ul li a {
  color: #031C4E!important;
}

nav ul li a:hover {
  color: #006AFF!important;
}

nav ul li i{
  padding-left: 3px;
}

.hamburger-menu a {
  font-size: 22px;
  line-height: 75px;
}

/*stili jumbotron */

.bl-jumbotron {
  padding: 50px 0;
  background: url('../img/bg-home.jpg') no-repeat center center;
  background-size: cover;
}

.text-jumbotron-box h1 {
  font-size: 40px;
}

.text-jumbotron-box p {
  color: #ccc;
  font-size: 22px;
}

.started-box {
  background: #fff;
  padding: 15px 15px;
  border-radius: 6px;
}

.started-box h3 {
  font-size: 22px;
  font-weight: 600;
}

.started-box h5 {
  color: #006AFF;
  font-size: 22px;
  font-weight: 600;
}

.started-form input {
  border: 1px solid rgba(0,0,0,0.08);
  border-radius: 3px;
  margin: 5px 0;
  padding: 8px 3px;
  width: 100%;
}

.started-form input:focus,
.started-form button:focus {
  outline:0;
}

 .account-button {
  font-size: 13px;
  width: 100%;
  background: #579AFF;
  color: #fff;
  border: 0;
  border-radius: 5px;
  padding: 5px 0;

}

.google-button {
  width: 100%;
  margin: 5px 0;
  border: 0;
  border-radius: 3px;
  padding: 5px 0;
  box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.28);
}

.google-button p {
  font-size: 13px;
  font-weight: 600;
  width: 90%;
  margin: 0;
}

.logo-google {
  height: 20px;
  padding: 0 10px;
}

.text-started-box p {
  padding-top: 10px;
  font-size: 10px;
  font-weight: 600;
}

.text-started-box  a {
  text-decoration: underline;
  font-size: 10px;
}

/* fine stili jumbotron */

/* stili sezione customers */

.bl-customer-header h3 {
  padding: 30px 0;
  font-size: 17px;
  text-transform: uppercase;
  color: #6F7B97;
}

.bl-row-customers img {
  padding: 5px;
  margin: 10px 0;
  max-width: 100%;
  width: 180px;
  vertical-align: middle;
}

.link-stories {
  padding: 20px 0;
}

/* fine stili sezione customers */

/* fine stili header --------------------------------------------------------*/

/* stili main ---------------------------------------------------------------*/

/* stili sezione deploy */
.bl-deploy-container {
  padding: 50px 0;
}

.deploy-text p {
  color: #5C6A88;
  font-size: 22px;
  font-weight: 400;
  padding-bottom: 40px;
}


.deploy-list li {
  color: #8D97AC;
  font-size: 20px;
  padding: 10px;
  border-left: 2px solid #ccc;
}

.blur-deploy img{
  height: 40px;
  width: 40px;
}

.blur-deploy h3{
  color: #031C4E;
  font-size: 20px;
  font-weight: 500;
}

.blur-deploy p{
  color: #8D97AC;
  font-size: 16px;
  font-weight: 500;
}

/* fine stili sezione deploy */

/* stili designed developers */

.bl-designed-container {
  padding: 50px 0;
}

.titile-designed p {
  color: #5C6A88;
  font-size: 22px;
  font-weight: 500;
  padding: 20px 0 100px 0;
}

.slider-designed img {
  max-width: 100%;
  width: 300px;
}

.slider-designed p {
  padding: 20px 0 50px 0;
  color: #031C4E;
  font-size: 16px;
  font-weight: 500;
}

/* fine stili designed developers */

/* stili features business */

.bl-features-container {
  padding: 50px 0;
}


.blur-features {
  padding-bottom: 30px;
}

.blur-features img {
  height: 50px;
}

.blur-features h3 {
  color: #031C4E;
  font-size: 20px;
  font-weight: 500;
}

.blur-features p{
  color: #5C6A88;
  font-size: 16px;
  font-weight: 500;
}

/* fine stili features business */

/* stili regions */

.bl-regions-container {
  padding: 50px 0;
  background: #0044C3;
  color: #fff;
}

.bl-regions-container h2 {
  color: #fff;
  text-align: center;
}

.box-region {
  border-bottom: 1px solid #fff;
  padding: 10px;
}

.box-region li {
  display: inline-block;
}

.box-region:nth-child(6), .box-region:nth-child(12) {
  margin-bottom: 30px;
  border-bottom: 0px;
}

.name-region {
  color: #ccc;
}

.code-regin {
  width: 80px;
}

.button-test {
  color: #00C2CE;
}

/* fine stili regions */

/* stili rockerbox */

.bl-rockerbox-container {
  padding: 50px 0;
}

.bl-rockerbox-container h2 {
  font-size: 35px;
  font-weight: 600;
  color: #031C4E;
  padding-bottom: 60px;
}

.slider-rockerbox {
  position: relative;
  height: 100%;
}

.slider-inner {
  background: #fff;
  width: 70%;
  margin: 0 auto;
  padding: 30px 0;
  border-radius: 5px;
}

.slider-inner img {
  width: 100%
}

.slider-inner p {
  margin: 20px 0;
  color: #5C6A88;
  font-size: 23px;
  font-weight: 500;
  line-height: 1.6;
}

.slider-inner h5 {
  font-size: 18px;
  font-weight: 600;
  margin: 0;
}

.slider-inner h6 {
  font-size: 18px;
  margin: 3px;
  padding-bottom: 20px;
}

.slider-arrow:last-child {
  right: 0;
}

.slider-arrow{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #031C4E;
  font-size: 60px;
  cursor: pointer;
}

.slider-arrow:hover{
  color: #6F7B97;
}

.bl-cirlce-img {
  padding: 20px 0;
}

/* fine stili rockerbox */


/* stili create account banner */

.account-banner {
  padding: 50px 0;
  background: #002CA7;
}

.account-banner h2{
  padding-bottom: 20px;
}

.button-account a {
  background: #fff;
  font-size: 18px;
  padding: 10px;
  border-radius: 5px;
}

/* fine stili create account banner */

/* fine stili main ----------------------------------------------------------*/
/* stili footer -------------------------------------------------------------*/

footer {
  background: #031C4E;
  padding: 50px 0;
}

.copy {
  font-size: 17px;
  font-weight: 600;
  color: #8B94A9;
}

footer h6 {
  font-size: 17px;
  font-weight: 500;
  color: #5C6A88;
}

.social i {
  color: #8B94A9;
  font-size: 22px;
  padding-right: 7px;
}

footer h4 {
 color: #fff;
 font-weight: 600;
}

.footer-list li{
  color: #A6ADBD;
  font-size: 15px;
  font-weight: 600;
  padding-bottom: 5px;
}


.contenitore-bubble {
  position: fixed;
  bottom: 15px;
  right: 15px;;
  z-index: 9999999;
}

.box-bubble {
  display: inline-block;
}

.box-bubble img {
  margin-left:10px;
}

.speech-bubble {
  position: relative;
	background: #fff;
  padding: 15px;
	border-radius: .4em;
  display: none;
}

.speech-bubble p {
  max-width: 300px;
  color: #031C4E;
  font-size: 16px;
  font-weight: 600;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	border: 15px solid transparent;
	border-left-color: #fff;
	border-right: 0;
	margin-top: -5px;
	margin-right: -10px;
}

.box-bubble:hover .speech-bubble {
  display: inline-block;
}

/* fine stili footer --------------------------------------------------------*/

/* stili screen SM */

@media screen and (min-width:768px) {

  /* stili header */

  .started-box h3 {
    font-size: 30px;
  }

  .started-box h5 {
    font-size: 28px;
  }

  .bl-row-customers img {
    width: 110px;
    padding: 5px;
  }

  /* fine stili header */

  /* stili main */

  .blur-deploy {
    min-height: 220px;
  }

  .deploy-list {
    margin-left: 60px;
  }

  .slider-designed img {
    width: 400px;
  }

  .code-regin {
    width: 100px;
  }

  .slider-inner {
    width: 50%;
  }
  .slider-inner img {
    width: 80%;
  }

  .banner-text h2{
    font-size: 45px;
  }

  .button-account {
    font-size: 22px;
  }

  /* fine stili main */

}

/* fine stili screen SM */

/* stili sceen MD */

@media screen and (min-width:992px) {
  /* stili header */

  .text-jumbotron-box h1 {
    font-size: 54px;
  }

  .text-jumbotron-box p {
    font-size: 20px;
  }

  .bl-row-customers img {
    width: 150px;
    padding: 5px;
  }

  /* finev stili header */

  /* stili main */

  .blur-deploy p {
    padding-right: 20px;
  }

  .slider-designed img {
    width: 600px;
  }

  .slider-inner {
    width: 70%;
    padding: 70px 0;
  }
  .slider-inner img {
    width: 60%;
  }

}

/* fine stili sceen MD */
